<!--The content below is only a placeholder and can be replaced.-->
<div class="hidden-xs col-sm-1">
    <img src="../assets/images/logo.png" width="170px"/>
</div>
<div id="content" class="col-xs-12 col-sm-8 col-sm-offset-1">
  <header id="header" class="col-xs-12 col-sm-12">
    <h1>
        <span class="text">{{ title }}</span><span class="span">
      <img src="../assets/images/logo.png" width="20px"/>
    </span>
    </h1>
  </header>
  <nav id="nav" class="col-xs-12 col-sm-12">
    <ul class="col-xs-12 col-sm-12">
      <li><a [routerLink]="['/home']" [routerLinkActive]="['active']">Clasificación general</a></li>
      <li><a [routerLink]="['/results']" [routerLinkActive]="['active']">Resultados</a></li>
      <li><a [routerLink]="['/tournement']" [routerLinkActive]="['active']">Torneos</a></li>
      <li><a [routerLink]="['/user']" [routerLinkActive]="['active']">Usuarios</a></li>
      <li><a [routerLink]="['/point']" [routerLinkActive]="['active']">Puntos</a></li>
    </ul>
  </nav>
  <section id="main" class="col-xs-12 col-sm-12">
    <router-outlet></router-outlet>
  </section>
  <footer id="footer" class="col-xs-12 col-sm-12">
    <p>@Team Events 2019</p>
  </footer>
</div>
<div class="hidden-xs col-sm-1 col-sm-offset-1">
    <img src="../assets/images/logo.png" width="170px"/>
</div>
