#content {
    margin-top: 30px;
    border-radius: 2px;
    background: white;
    box-shadow: 0 2px 5px #ccc;
    padding: 0px;
    overflow: hidden;
}

#header {
    background: rgba(245, 130, 51, 0.8);
    color: white;
    margin: 0;
    height: 90px;
    line-height: 90px;
}

#header h1 {
    display: block;
    line-height: 60px;
    font-weight: bold;
    font-size: 30px;
}

#nav {
    padding: 0;
    margin: 0;
    background: rgba(255, 169, 83, 0.7);
    height: 30px;
    line-height: 30px;
}

#nav ul {
    margin: 0;
    list-style: none;
    padding-left: 20px;
}

#nav ul li {
    float: left;
    margin-right: 20px;
}

#nav ul li a {
    display: block;
    color: white;
    height: 30px;
    line-height: 29px;
    padding-left: 10px;
    padding-right: 10px;
    transition: all 300ms;
}

#nav ul li a:hover {
    text-decoration: none;
    background: rgba(255, 169, 83, 0.8);
}

.active {
    text-decoration: none !important;
    background: rgba(255, 169, 83, 0.9);
    border-bottom: 4px solid red;
}

#footer {
    margin-top: 50px;
    padding-top: 10px;
    border-top: 1px solid #eee;
    color: gray;
}

th span {
    color: #337ab7;
    text-decoration: none;
    cursor: pointer;
}

th i {
    padding-right: 5px;
    cursor: pointer;
}


