<div class="col-xs-12 col-sm-12 table-responsive">
    <h1>{{titulo}}</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th class="text-left" (click)="sortByName()">
                    <i class="fa fa-sort-up" *ngIf="orderName===0"></i>
                    <i class="fa fa-sort-down" *ngIf="orderName===1"></i>
                    <i class="fa fa-sort" *ngIf="orderName===-1"></i>
                    <span>Nombre</span>
                </th>
                <th class="text-right" *ngFor="let tournement of tournements" title={{tournement.name}}>{{tournement.name}}</th>
                <th class="text-right" (click)="sortByTotal()">
                    <i class="fa fa-sort-up" *ngIf="orderTotal===0"></i>
                    <i class="fa fa-sort-down" *ngIf="orderTotal===1"></i>
                    <i class="fa fa-sort" *ngIf="orderTotal===-1"></i>
                    <span>Total</span>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let userData of userDataList" >
                <td title="{{userData.name}}">{{userData.name}}</td>
                <td *ngFor="let points of userData.points" class="text-right">{{points}}</td>
                <td title="{{userData.total}}" class="text-right">{{userData.total}}</td>
            </tr>
        </tbody>
    </table>
</div>