<div class="col-xs-12 col-sm-8 col-sm-offset-2">
    <h1>{{titulo}}</h1>
    <div *ngIf="!points">
        Cargando puntos...
    </div>
    <!-- Points -->
    <div *ngFor="let point of points; let i = index;">
        <div class="form-group col-xs-2 col-sm-2">
            <label for="punto">{{point.id}}:&nbsp;</label>
            <input [(ngModel)]="point.points" type="text" id="punto{{i}}" name="punto{{i}}" value="{{point.points}}" title="{{point.points}}" readonly disabled >                
        </div>
    </div>
</div>