<div class="col-xs-12 col-sm-8 col-sm-offset-2">
    <h1>{{titulo}}</h1>

    <div class="form-group">
        <div class="col-xs-6 col-xs-offset-6 col-sm-6 col-sm-offset-6 text-right">
            <button class="btn btn-success" (click)="newRow()">Nuevo</button>
        </div>
    </div>
    <form id="insertResults" name="insertResults" (ngSubmit)="onSubmit()" #f="ngForm" validate>
        <!-- Tournements -->
        <div class="form-group col-xs-12 col-sm-12" [ngClass]="torneo.value == 0 ? 'has-error' : ''">
            <label for="torneo">Torneo *:</label>                        
            <select [(ngModel)]="idTournement" id="torneo" name="torneo" class="form-control" #torneo="ngModel" [attr.data-error]="torneo.value == 0 ? 'Error que si' : null">
                <option [ngValue]="0">Selecciona torneo:</option>
                <option *ngFor="let tournement of tournements" [ngValue]="tournement.id">{{tournement.name}}</option>
            </select>
            <span *ngIf="torneo.value == 0" class='error'>Campo obligatorio*</span>
        </div>
        <!-- Rows -->
        <ng-container *ngFor="let result of results; let i = index; trackBy: index;">
            <div class="form-group col-sm-5">
                <label for="nombre">Nombre:</label>                            
                <select [(ngModel)]="results[i].idUser" id="nombre_{{i}}" name="nombre_{{i}}" class="form-control" #nombre="ngModel" >
                    <option [value]="0">Selecciona usuario:</option>
                    <option *ngFor="let user of users" [ngValue]="user.id">{{user.name}}</option>
                </select>
            </div>
            <div class="form-group col-sm-5">
                <label for="puntos">Posición:</label>                            
                <select [(ngModel)]="results[i].idPoint" id="puntos_{{i}}" name="puntos_{{i}}" class="form-control" #puntos="ngModel" >
                    <option *ngFor="let point of points" [ngValue]="point.id">{{point.id}}</option>
                </select>
                
            </div>
            <div class="form-group col-sm-2">
                <button title="Borrar fila" type="button" class="btn btn-danger" (click)=deleteRow(e,i)>Borrar
                    <i class="fa fa-trash-o"></i>
                </button>
            </div>
        </ng-container>
        <div class="form-group">
            <div class="col-xs-6 col-sm-6">
                <button class="btn btn-primary" type="submit">Enviar</button>
            </div>
        </div>
    </form>
</div>