<div class="col-xs-12 col-sm-8 col-sm-offset-2">
    <h1>{{titulo}}</h1>
    <div *ngIf="!tournements">
        Cargando torneos...
    </div>
    <div *ngIf="tournements">
        <div class="form-group">
            <div class="col-xs-6 col-xs-offset-6 col-sm-6 col-sm-offset-6 text-right">
                <button class="btn btn-success" (click)="newRow()">Nuevo</button>
            </div>
        </div>
        <p>Listado de torneos:</p>
        <!-- Tournements -->
        <div *ngFor="let tournement of tournements; let i = index;">
            <div class="form-group col-xs-12 col-sm-6">
                <label for="torneo">{{tournement.id}}:&nbsp;</label>
                <input [(ngModel)]="tournement.name" type="text" id="torneo{{i}}" name="torneo{{i}}" value="{{tournement.name}}" title="{{tournement.name}}" [readonly]="!tournement.isEditable" [disabled]="!tournement.isEditable">                
            </div>
            <div class="form-group col-xs-12 col-sm-6">
                <button *ngIf="!tournement.isEditable" title="Editar torneo" type="button" class="btn btn-warning" (click)=editRow(e,i)>Editar
                    <i class="fa fa-pencil-square-o"></i>
                </button>
                <button *ngIf="tournement.isEditable" title="Guardar cambio" type="button" class="btn btn-success" (click)=saveRow(e,i)>Guardar
                    <i class="fa fa-floppy-o"></i>
                </button>
                <button title="Borrar torneo" type="button" class="btn btn-danger" (click)=deleteRow(e,i)>Borrar
                    <i class="fa fa-trash-o"></i>
                </button>
            </div>
        </div>
    </div>
</div>