<div class="col-xs-12 col-sm-8 col-sm-offset-2">
    <h1>{{titulo}}</h1>
    <div *ngIf="!users">
        Cargando usuarios...
    </div>
    <div *ngIf="users">
            <div class="form-group">
                <div class="col-xs-6 col-xs-offset-6 col-sm-6 col-sm-offset-6 text-right">
                    <button class="btn btn-success" (click)="newRow()">Nuevo</button>
                </div>
            </div>
            <p>Listado de usuarios:</p>
            <!-- Users -->
            <div *ngFor="let user of users; let i = index;">
                <div class="form-group col-xs-12 col-sm-6">
                    <label for="usuario">{{user.id}}:&nbsp;</label>
                    <input [(ngModel)]="user.name" type="text" id="usuario{{i}}" name="usuario{{i}}" value="{{user.name}}" title="{{user.name}}" [readonly]="!user.isEditable" [disabled]="!user.isEditable">                
                </div>
                <div class="form-group col-xs-12 col-sm-6">
                    <button *ngIf="!user.isEditable" title="Editar usuario" type="button" class="btn btn-warning" (click)=editRow(e,i)>Editar
                        <i class="fa fa-pencil-square-o"></i>
                    </button>
                    <button *ngIf="user.isEditable" title="Guardar cambio" type="button" class="btn btn-success" (click)=saveRow(e,i)>Guardar
                        <i class="fa fa-floppy-o"></i>
                    </button>
                    <button title="Borrar usuario" type="button" class="btn btn-danger" (click)=deleteRow(e,i)>Borrar
                        <i class="fa fa-trash-o"></i>
                    </button>
                </div>
            </div>
        </div>
</div>